= render 'sub_header'
.signup-contents
  %h2.signup-contents__new--member
    新規会員登録
  .signup-contents__registration
    =link_to "", class: "signup-contents__btn--email" do
      = icon 'far', 'envelope'
      メールアドレスで登録する
    =link_to "", class: "signup-contents__btn--facebook" do
      = icon 'fab', 'facebook-square'
      Facebookで登録する
    =link_to "", class: "signup-contents__btn--google" do
      = image_tag 'https://www.mercari.com/jp/assets/img/common/common/google.svg'
      Googleで登録する
  
= render 'sub_footer'


あああああ